<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bousquleProjet">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.bousquleProjet.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.bousquleProjet.QuizActivity" />
        <activity android:name="com.example.bousquleProjet.AdditionActivity"
            android:screenOrientation="portrait"
          />
        <activity android:name="com.example.bousquleProjet.AddUserActivity"
            android:screenOrientation="portrait"
       />
        <activity android:name="com.example.bousquleProjet.ChoixTables"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.bousquleProjet.MultiplicationsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.bousquleProjet.MathsActivity"
           />
        <activity android:name="com.example.bousquleProjet.JeuActivity"
         />

        <activity android:name="com.example.bousquleProjet.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>